# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Daniel Faria

### Grupo 03
<dl>
    <dt>12 horas (33.3%)</dt>
    <dd>ist199309 Rafael Girão</dd>
    <dt>12 horas (33.3%)</dt>
    <dd>ist102082 Simão Sanguinho</dd>
    <dt>12 horas (33.3%)</dt>
    <dd>ist103252 José Pereira</dd>
<dl>

$$
\newcommand{\op}{\text}
\newcommand{\sop}{_\text}
$$

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Customer(<u>cust_no</u>, name, email, phone, address) 
    - UNIQUE(email) 
$$$$
               
- Order(<u>order_no</u>, date, cust_no)
    - cust_no: FK(Customer) NOT NULL
$$$$
- Sale(<u>order_no</u>)
    - order_no: FK(Order)
$$$$
- pay(<u>order_no</u>, cust_no)
    - order_no: FK(Order)
    - cust_no: FK(Customer) NOT NULL
$$$$
- Employee(<u>ssn</u>, TIN, bdate, name)
    - UNIQUE(TIN)
$$$$
- process(<u>ssn</u>, <u>order_no</u>)
    - ssn: FK(Employee)
    - order_no: FK(Order)
$$$$
- Department(<u>name</u>)
$$$$
- Workplace(<u>address</u>, lat, long)
    - UNIQUE(lat, long)
$$$$
- works(<u>ssn</u>, <u>name</u>, <u>address</u>)
    - ssn: FK(Employee)
    - name: FK(Department)
    - address: FK(Workplace)
$$$$
- Office(<u>address</u>)
    - address: FK(Workplace)
$$$$
- Warehouse(<u>address</u>)
    - address: FK(Workplace)
$$$$
- Product(<u>sku</u>, name, description, price)
$$$$
- EAN_Product(<u>sku</u>, ean)
    - sku: FK(Product)
$$$$
- Supplier(<u>TIN</u>, name, address)
$$$$
- contains(<u>order_no</u>, <u>sku</u>, quantity)
    - order_no: FK(Order)
    - sku: FK(Product)
$$$$
- supply_contract(<u>TIN</u>, sku, date)
    - TIN: FK(Supplier)
    - sku: FK(Product) NOT NULL
$$$$
- delivery(<u>address</u>, <u>TIN</u>)
    - address: FK(Warehouse)
    - TIN: FK(Supplier)
$$$$
    
<br> Restrições de Integridade </br>

- IC-2 - Every Employee (ssn) must participate in the works association
- IC-3 - Every Order (order_no) must participate in the contains association
- IC-4 - Every Product (sku) must participate in the supply-contract association
- IC-5 - Every Supplier (TIN) must participate in the supply-contract association

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

- IC-1 - Customers can only pay for the sale of an order they have placed themselves

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$$
\begin{align*}
& \Pi\op{(name)} ( \\
& \qquad \op{Customer} \\
& \qquad \bowtie \\
& \qquad  \sigma_{\op{date} \geq \op{``2023-01-01''} \land \op{date} \leq \op{``2023-12-31''}} \op{(} \\
& \qquad \qquad \op{Order} \bowtie \op{contains} \bowtie \rho_{\op{name} \mapsto \op{product\_name}} \op{(Product)} \\
& \qquad )\\
& ) 
\end{align*}
$$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$$
\begin{align*}
& \Pi_{name}\op{(} \\
& \qquad \op{Employees} \\
& \qquad \bowtie \\
& \qquad \sigma_{\op{date} \geq \op{ ``2023-01-01'' } \land \op{date} \leq \op{``2023-01-31''}} \op{(} \\
& \qquad \qquad \op{( Order} \bowtie \op{process)} \\
& \qquad \bowtie \\
& \qquad \op{(Warehouse - Office)} \bowtie \rho_{\op{name} \mapsto \op{department\_name}}\op{(works)} \\
& )
\end{align*}
$$

3. Indique o nome do produto mais vendido;

$$
\begin{align*}
& \op{sales} \leftarrow \op{Sale} \bowtie \op{contains} \\
& \op{qty\_sold\_by\_product} \leftarrow \sop{sku}G\sop{sum(qty)}\op{(sales)} \\
& \op{non\_most\_sold\_product} \leftarrow \sigma_{\op{p1.qty } \lt \op{ p2.qty}}\op{(} \\
& \qquad \rho_{p1}\op{(qty\_sold\_by\_product)} \times \rho_{\op{p2}}\op{(qty\_sold\_by\_product)} \\
& \op{)} \\
& \op{most\_sold\_product} \leftarrow \Pi \sop{sku}\op{(} \\
& \qquad \op{qty\_sold\_by\_product} \\
& \qquad \op{-} \\
& \qquad  \rho_{\op{p1.sku } \mapsto \op{ sku}} (\Pi\sop{p1.sku}\op{(non\_most\_sold\_product})) \\
& \op{)} \\
& \Pi \sop{name}  \op{(most\_sold\_product} \bowtie \op{Product)}

\end{align*}
$$

4. Indique o valor total de cada venda realizada.

$$
\begin{align*}
& \sop{order\_no} G \sop{sum(total\_price)} ( \\
& \qquad \rho_{\op{ qty} \times \op{price } \mapsto \op{ total\_price}} ( \\
& \qquad \qquad \Pi _{\op{order\_no, sku, qty} \times \op{price}} ( \\
& \qquad \qquad \qquad \op{Sale} \bowtie \op{contains} \bowtie \op{Product} \\
& \qquad \qquad ) \\
& \qquad ) \\
& )
\end{align*}
$$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [ ]:
%load_ext sql
%sql postgresql://db:db@postgres/db

In [ ]:
%%sql
-- schema.sql

-- DROP TABLE ...
-- CREATE TABLE ...

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [ ]:
%%sql
-- populate.sql

-- INSERT ...

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [ ]:
%%sql

-- SELECT ...

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [ ]:
%%sql

-- SELECT ...

3. Indique o nome do produto mais vendido;

In [ ]:
%%sql

-- SELECT ...

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

-- SELECT ...