# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Daniel Faria

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoC (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoD (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoE (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

3. Indique o nome do produto mais vendido;

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

4. Indique o valor total de cada venda realizada.

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [34]:
%load_ext sql
%sql postgresql://db:db@postgres/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [35]:
%%sql
-- schema.sql

-- DROP TABLE ...
-- CREATE TABLE ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- schema.sql

-- CREATE TABLE ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [36]:
%%sql
-- populate.sql

-- INSERT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- populate.sql

-- CREATE TABLE ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [37]:
%%sql

-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [38]:
%%sql

-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

3. Indique o nome do produto mais vendido;

In [39]:
%%sql

-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

4. Indique o valor total de cada venda realizada.

In [40]:
%%sql

-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)