# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Daniel Faria

### Grupo 03
<dl>
    <dt>12 horas (33.3%)</dt>
    <dd>ist199309 Rafael Girão</dd>
    <dt>12 horas (33.3%)</dt>
    <dd>ist102082 Simão Sanguinho</dd>
    <dt>12 horas (33.3%)</dt>
    <dd>ist103252 José Pereira</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Customer(<u>cust_no</u>, name, email, phone, address) 
    - UNIQUE(email) 
$$$$
               
- Order(<u>order_no</u>, date, cust_no)
    - cust_no: FK(Customer) NOT NULL
$$$$
- Sale(<u>order_no</u>)
    - order_no: FK(Order)
$$$$
- pay(<u>order_no</u>, cust_no)
    - order_no: FK(Order)
    - cust_no: FK(Customer) NOT NULL
$$$$
- Employee(<u>ssn</u>, TIN, bdate, name)
    - UNIQUE(TIN)
$$$$
- process(<u>ssn</u>, <u>order_no</u>)
    - ssn: FK(Employee)
    - order_no: FK(Order)
$$$$
- Department(<u>name</u>)
$$$$
- Workplace(<u>address</u>, lat, long)
    - UNIQUE(lat, long)
$$$$
- works(<u>ssn</u>, <u>name</u>, <u>address</u>)
    - ssn: FK(Employee)
    - name: FK(Department)
    - address: FK(Workplace)
$$$$
- Office(<u>address</u>)
    - address: FK(Workplace)
$$$$
- Warehouse(<u>address</u>)
    - address: FK(Workplace)
$$$$
- Product(<u>sku</u>, name, description, price)
$$$$
- EAN_Product(<u>sku</u>, ean)
    - sku: FK(Product)
$$$$
- Supplier(<u>TIN</u>, name, address)
$$$$
- contains(<u>order_no</u>, <u>sku</u>, quantity)
    - order_no: FK(Order)
    - sku: FK(Product)
$$$$
- supply_contract(<u>TIN</u>, sku, date)
    - TIN: FK(Supplier)
    - sku: FK(Product) NOT NULL
$$$$
- delivery(<u>address</u>, <u>TIN</u>)
    - address: FK(Warehouse)
    - TIN: FK(Supplier)
$$$$
    
<br> Restrições de Integridade </br>

- IC-2 - Every Employee (ssn) must participate in the works association.
- IC-3 - Every Order (order_no) must participate in the contains association
- IC-4 - Every Product (sku) must participate in the supply-contract association
- IC-5 - Every Supplier (TIN) must participate in the supply-contract association

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

- IC-1 - Customers can only pay for the sale of an order they have placed themselves

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;



$$
\renewcommand{\op}{\text}
\renewcommand{\sop}{_\text}
\begin{align*}

& \Pi \sop{cust\_no, order\_no} ( \\
&\qquad \sigma_{\op{price} \gt \op{50} \land \op{date} \geq \op{'2023-01-01'} \land \op{date} \leq \op{'2023-12-31'}} ( \\
 &\qquad \qquad    \op{Product} \bowtie \op{contains} \bowtie \op{Order} \\
 &\qquad ) \\
 ) \\
\end{align*}
$$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

>  Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023.
$$
\begin{align*}
&  employees\_2023\_01 \leftarrow \pi _{ssn} ( \\
& \qquad \sigma_{date \geq "2023-01-01" \land date \leq "2023-01-31} ( \\
& \qquad \qquad Order \bowtie process \\
& \qquad ) \\
) \\

& workplace\_employee \leftarrow ( \\
& \qquad \op{employees\_2023\_01} \bowtie Employee \bowtie \rho_{name \mapsto department\_name} (works) \\
) \\
& office\_employee \leftarrow \pi_{ssn} ( \\
& \qquad workplace\_employee \bowtie Office \\
& ) \\
& warehouse\_employee \leftarrow \pi_{ssn} ( \\
& \qquad workplace\_employee \bowtie Warehouse \\
& ) \\
& \pi_{name} ( \\
& \qquad \op{Employee} \bowtie (\op{employee\_2023\_01} \cap ( \\
& \qquad \qquad \op{( \\warehouse\_employee - office\_employee)} \\
& \qquad ) )
&)
\end{align*}

3. Indique o nome do produto mais vendido;

> ## 3
> 3. Indique o nome do produto mais vendido;
$$
\begin{align*}
& \op{qty\_sold\_by\_product} \leftarrow \sop{sku} G \sop{sum(qty)} \op{(Sale} \bowtie \op{contains)} \\
& \op{non\_most\_sold\_product} \leftarrow ( \\
& \qquad \sigma _{\op{p1.qty} \lt \op{p2.qty}} ( \\
& \qquad \qquad \rho \sop{p1} \op{(qty\_sold\_by\_product)} \times \rho \sop{p2}\op{(qty\_sold\_by\_product)} \\ %TODO: isto esta bem? (sintaxe)
& \qquad ) \\
& ) \\

& \pi \sop{name} ( \\
& \qquad Product \bowtie ( \\
& \qquad \qquad \op{qty\_sold\_by\_product} - \rho_{\op{p1.sku} \mapsto \op{sku}} \op{(non\_most\_sold\_product)} \\
& \qquad ) \\
& )
\end{align*}
$$

4. Indique o valor total de cada venda realizada.

$$
\begin{align*}
& \sop{order\_no} G \sop{sum(total\_price)} ( \\
& \qquad \rho_{\op{qty} \times \op{price} \mapsto \op{total\_price}} ( \\
& \qquad \qquad \pi _{\op{order\_no, sku, qty} \times \op{price}} ( \\
& \qquad \qquad \qquad \op{Sale} \bowtie \op{contains} \bowtie \op {Product} \\ % Descartei o pi(sku, price), nao me parece haver mal
& \qquad \qquad ) \\
& \qquad ) \\
& )
\end{align*}
$$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [ ]:
%load_ext sql
%sql postgresql://db:db@postgres/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql
-- schema.sql

-- DROP TABLE ...
-- CREATE TABLE ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- schema.sql

-- CREATE TABLE ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [ ]:
%%sql
-- populate.sql

-- INSERT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- populate.sql

-- CREATE TABLE ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [ ]:
%%sql

-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [ ]:
%%sql

-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

3. Indique o nome do produto mais vendido;

In [ ]:
%%sql

-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

-- SELECT ...

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)